<div class="container">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h1>Dashboard</h1>

    <h2>Favorite Recipes</h2>
{{#if recipies.length}}
  <section>
    <h2>Your recipies</h2>
    <ul>
      {{#each recipies as |post|}}
        <li>
          <article class="post">
            <div class="title">
              
                <h2>{{title}}</h2>
              
          </article>
          
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}

    <h2> Link to calendar</h2>

</div>