<div class="title-container">
  <h1 class="dash-title">Your Dashboard</h1>
</div>
<div class="container">
    
    <form class="d-flex search-form">
        <input class="form-control me-2 search-bar" type="search" placeholder="Search Recipes" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>



<div class="container fav-container">
  <h2 id="fav-title">Favorite Recipes</h2>
  <div id="recipe-container" class="row justify-content-around">
{{#if recipes.length}}
{{#each recipes}}
{{> recipes/recipe-card }}
{{/each}}
{{/if}}
  </div>
</div>

<div class="container">
  <div class="backDiv"></div>
  <div id="dash-recipe-container" class="row justify-content-around">

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascript/dashboard-search.js"></script>
<script src="/javascript/delete-recipe.js"></script>