<div class="container hero">
    <h1>Plan, Cook, Eat!</h1>
    <p>Let's take the guesswork out of mealtime! Search our site for recipes that fit your tastes and dietary needs.</p>
    <form class="d-flex search-form">
        <input class="form-control me-2 search-bar" type="search" placeholder="Search Recipes" aria-label="Search">
        <button class="btn btn-outline-success search-btn" type="submit">Search</button>
    </form>
</div>
{{!-- <div class="container">
    {{#if data}}
    {{#each this}}
    {{> recipes/recipe-card data}}
    {{/each}}
    {{/if}}
</div> --}}
<br>
<div class="container hero">
    <h2>Let's Make a Plan</h1>
    <p>Sign-up to enjoy our meal scheduler and receive daily reminders for recipes and ingredients!</p>
    <a href="/signup">Sign up now</a>
</div>
<script src='/javascript/recipe-search.js'></script>