<div class="container home-el">
  <h1 id="home-title">Plan, Cook, Eat!</h1>
  <p>Let's take the guesswork out of mealtime! Search our site for recipes that
    fit your tastes and dietary needs.<br />
    <a href="/signup">Sign up </a>to enjoy our meal scheduler and receive daily
    reminders for recipes and ingredients!</p>
  <form class="d-flex search-form">
    <input
      class="form-control me-2 search-bar"
      type="search"
      placeholder="Search Recipes"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-success search-btn"
      type="submit"
    >Search</button>
  </form>
</div>

<div class="container">
  <div id="recipe-container" class="row justify-content-around">

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascript/recipe-search.js"></script>