/*------------------------------------- 
------- NAVBAR STYLING STARTS ---------- 
--------------------------------------*/

/* header title - Lettuce Plan This Thyme */
#title {
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: rgb(1, 104, 1);
}

/* header styling */
nav {
  margin-bottom: 50px;
  background-color: rgb(243, 238, 207);
  background-image: linear-gradient(
    135deg,
    rgb(243, 227, 207) 25%,
    #048a2c 75%
  );
}

/* Navbar button styling */
.navbar-nav {
  margin-left: 20px;
  font-size: 18px;
}

/* favicon - lettuce img styling */
.fav-icon {
  height: 60px;
  width: auto;
  border-radius: 15px;
}

/*------------------------------------- 
-------- NAVBAR STYLING ENDS ---------- 
--------------------------------------*/

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

/* main calendar content */
.content {
  overflow: none;
  width: 100%;
  max-width: 1200px;
  padding: 0px 0;
  height: 500px;
  position: relative;
  margin: 20px auto;
  background-image: url(../images/jumbo.jpeg);
  background-size: cover;
  border: solid 0.5px green;
}

/*  meals display */
.meals-container {
  overflow-y: scroll;
  height: 100%;
  width: 50%;
  float: right;
  margin: 0px auto;
  display: inline-block;
  padding: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0;
}
@media (max-width: 767.98px) {
  .meals-container {
    width: 100%;
    height: auto;
  }
}

.meals-container:after {
  clear: both;
}

/* meal card styling */
.meal-card {
  padding: 20px 0;
  max-width: 100%;
  display: block;
  background: rgb(243, 245, 232);
  border: none !important;
  margin: 20px;
}
@media (max-width: 991.98px) {
  .meal-card {
    margin: 10px;
  }
}
@media (max-width: 767.98px) {
  .meal-card {
    margin: 0;
    background: #e6e6e6;
  }
}

.meal-name,
.meal-cancelled {
  display: inline;
  padding: 0 10px;
  font-size: 1rem;
}

.meal-count {
  color: #ffc400;
  text-align: right;
}

.meal-name {
  padding-right: 0;
  text-align: left;
}

.meal-cancelled {
  color: #048a2c;
  text-align: right;
}

/*  Calendar wrapper */
.calendar-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 50%;
  background: rgba(243, 227, 207, 0.95);
  font: 13px Helvetica, Arial, san-serif;
  display: inline-block;
  padding: 20px;
  float: left;
}
@media (max-width: 991.98px) {
  .calendar-container {
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .calendar-container {
    padding: 0;
    width: 100%;
  }
}

.calendar-container:after {
  clear: both;
}

.calendar {
  width: 100%;
  padding: 0;
}

/* Calendar Header */
.year-header {
  background: rgb(243, 245, 232);
  height: 40px;
  text-align: center;
  position: relative;
  color: #fff;
  border-top-left-radius: 3px;
  margin-top: 20px;
}

.year-header span {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: #000;
}

.left-button,
.right-button {
  cursor: pointer;
  width: 28px;
  text-align: center;
  position: absolute;
  color: #e02121 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px !important;
}
@media (prefers-reduced-motion: reduce) {
  .left-button,
  .right-button {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.left-button:hover,
.right-button:hover {
  color: #ffc400 !important;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
  top: 0;
}

/* Buttons */
.button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.65rem 1.9rem;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  color: white;
  border: none;
  background: #048a2c;
}
.button.button-white {
  background: rgba(243, 227, 207, 0.95);
  color: #000;
}
.button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

#cancel-button {
  background: #048a2c;
}

#add-button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#add-button:hover,
#ok-button:hover,
#cancel-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

#add-button:active,
#ok-button:active,
#cancel-button:active {
  -webkit-transform: translateY(3px) scale(0.97);
  -ms-transform: translateY(3px) scale(0.97);
  transform: translateY(3px) scale(0.97);
}

/* Days/months tables */
.days-table,
.dates-table,
.months-table {
  border-collapse: separate;
  text-align: center;
}

.day {
  height: 26px;
  width: 26px;
  padding: 0 10px;
  line-height: 26px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  color: #000;
}

.month {
  cursor: default;
  height: 26px;
  width: 26px;
  padding: 0 2px;
  padding-top: 10px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}
@media (max-width: 991.98px) {
  .month {
    font-size: 8px;
  }
}
@media (max-width: 767.98px) {
  .month {
    font-size: 10.5px;
  }
}

.active-month {
  font-weight: 700;
  color: #000;
}

.month:hover {
  color: #048a2c;
}

/*  Dates table */
.table-date {
  cursor: default;
  color: #2b2b2b;
  height: 26px;
  width: 26px;
  font-size: 15px;
  padding: 10px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: relative;
}

.table-date:not(.nil):hover {
  border-color: #048a2c;
}

.meal-date {
  border-color: #ffc400;
  background: #ffc400;
  color: #fff;
}
.meal-date:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background: rgb(161, 0, 27);
}

.active-date {
  background: #048a2c;
  color: #fff;
}

.meal-date.active-date {
  background: #ffc400;
}

/* ---------------------------------------------
--styling of dialog - once you press "Add Meal-- 
-----------------------------------------------*/
.dialog {
  z-index: 5;
  background: rgb(1, 104, 1, 0.35);
  position: absolute;
  width: 50%;
  height: 500px;
  top: 0;
  right: 0;
  display: none;
}
@media (max-width: 767.98px) {
  .dialog {
    width: 100%;
  }
}

.dialog-header {
  margin: 20px;
  color: #fff;
  text-align: center;
  font-size: 28px;
}

.form-container {
  margin-top: 25%;
}

.form-label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
}

.input {
  border: none;
  background: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  display: block;
  margin-bottom: 50px;
  width: 300px;
  height: 20px;
  text-align: center;
  -webkit-transition: border-color 250ms;
  -o-transition: border-color 250ms;
  transition: border-color 250ms;
  color: #fff;
}

.input:focus {
  outline: none;
  border-color: #fff;
}

.error-input {
  border-color: #048a2c;
}

/* meal card styling */
.card-header {
  color: rgb(255, 255, 255);
  background-image: url(../images/wood-cut-board.jpg);
  background-size: cover;
  border: solid 1px #000000;
}

/* meal card body styling  */
.card-body {
  background-color: rgba(243, 227, 207, 0.95);

  border: solid 1px #000000;
}

/* meal card delete button styling */
.meal-card-btn-delete {
  color: #fff;
  background-color: rgb(161, 0, 27);
}

/* meal card delete button hover styling */
.meal-card-btn-delete:hover {
  color: #fff;
  font-weight: bold;
  background-color: rgb(218, 2, 38);
}

/* Search recipe button styling for meal card */
.meal-card-btn-recipe {
  color: #fff;
  background-color: #ffc400;
}

/* Search recipe button hover styling for meal card */
.meal-card-btn-recipe:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #ffd95d;
}
